.header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.startMeetingBtn {
  width: 128px;
  height: 45px;
  border-radius: 59px;
  border: none;
  background: black;
  color: white;
  font-size: 14px;
  margin-left: 200px;
}

.startMeetingBtn:hover {
  background: #bababa;
  color: black;
}

.meetingDetails {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.meetingTime {
  width: 50%;
  border-right: 1px solid black;
  text-align: center;
}

.meetingDate {
  width: 50%;
  text-align: center;
}

.title {
  margin: 0;
}

.joinBtn {
  width: 128px;
  height: 45px;
  border-radius: 59px;
  border: none;
  background: black;
  color: white;
  font-size: 14px;
  margin-left: 20px;
  margin-top: 20px;
}

.joinBtn:hover {
  background: #bababa;
  color: black;
}

.classes {
  width: 600px;
  height: 250px;
  background: #ffffff;
  box-shadow: 0px 30px 60px -40px rgba(31, 38, 23, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.main {
  margin-left: 100px;
  margin-top: 50px;
  display: flex;
}

.meetingTopic {
  margin-left: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  box-shadow: 0px 30px 60px -40px rgba(31, 38, 23, 0.5);
  border-radius: 10px;
  width: 564px;
  height: 360px;
}

.createMeetingBtn {
  width: 160px;
  height: 45px;
  border-radius: 59px;
  border: none;
  background: black;
  color: white;
  font-size: 14px;
}

.formInput {
  border: none;
  background: #ffffff;
  border-radius: 10px;
  width: 247px;
  height: 35px;
  margin-top: 8px;
  margin-bottom: 25px;
  display: flex;
}

.createMeetingBtnContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.formHeader {
  margin-top: 50px;
  margin-left: 45px;
  margin-bottom: 35px;
}

.inputLabel {
  margin-left: 45px;
}

.modal {
  margin-top: 80px;
  margin-left: 100px;
}

.closeP {
  width: 100%;
  display: flex;
  justify-content: center;
}
